* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.menu{
    width: 80%;
    margin:0 auto;
    padding:30px 0;
}
.logo,
.menu-list,
.sign-in{
    display: inline-block;
    vertical-align: middle;
}
.menu-list{
    width:75%;
    list-style-type: none;
    font-weight: bold;
    text-align: center;
}
.menu-list-item{
    display: inline-block;
    margin:0 20px;
}
.menu-list-item a{
    text-decoration: none;
    color: black;
}
.menu-list-item a:hover,
.menu-list-item a:active,
.menu-list-item a:focus{
    padding-bottom:2px;
    border-bottom:  2px solid #706AE2;
}
.sign-in{
    width:10%;
}   
.sign-in{
    padding:15px 20px;
    border:none;
    border-radius:60px;
    background-color:transparent;
    font-weight: bold;
    
} 

.sign-in:hover,
.sign-in:active,
.sign-in:focus{
    background-color: #0067CB; 
    color:white;
    cursor: pointer;
}
.icon-user{
    padding:0 2px;
    border: 1px solid black;
    border-radius:2px;
}
.sign-in:hover .icon-user,
.sign-in:active .icon-user,
.sign-in:focus .icon-user{
    border: 1px solid white;
}
.jumbo{
    background-image:url(../css/img/img-logo.jpg);
    background-repeat: no-repeat;
    height:400px;
    background-size: contain;
}
.jumbo{
    background-color:#f9f9f9;
}
.jumbo-content{
    width: 550px;
    margin:0 auto;
}